// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.card-img-top {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.comment-del-btn {
    background: none;
    border-width: 0;
    text-decoration: underline;
    display: inline;
}

a.rounded-pill:hover {
    color: black;
}

.label-md {
    font-size: 0.85rem;
}

.small-btn {
    --bs-btn-padding-y: 0.12rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.7rem;
}

.display-off {
    opacity: 0.4;
}
